* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font: 14px sans-serif;
	background: #e8e8e8;
}
.header {
	padding: 30px;
	background: #fff;
	box-shadow: 1px 1px 1px #ccc;
}
.header h1 {
	color: #34495e;
}
a.button {
	background: #34495e;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	display: block;
	max-width: 150px;
	min-width: 100px;
	text-align: center;
	margin: 30px;
}
.list ul {
	list-style: none;
}
.list ul li {
	background: #fff;
	padding: 30px;
	width: calc(100% - 60px);
	margin: 30px auto;
	box-shadow: 1px 1px 1px #ccc;
}
.list ul li a {
	margin: 10px 0 0;
}