* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: roboto, sans-serif;
	font-size: 14px;
	width: 100%;
	overflow: hidden;
}

/*
	###################
	HEADER
	###################
*/

.header {
	background: #2c3e50;
}
.header-top {
	height: 44px;
}
.header-top button {
	background-color: transparent;
	border: none;
	outline: none;
	color: #3498db;
	height: 24px;
	width: 24px;
	margin: 10px;
}
.header-top select {
	float: right;
	height: 24px;
	margin: 10px;
}
.switcher {
	height: 34px;
}
.switcher ul {
	list-style: none;
	width: 100%;
}
.switcher ul li {
	width: 50%;
	float: left;
	height: 34px;
	text-align: center;
}
.switcher ul li.active {
	border-bottom: 3px solid #3498db;
}
.switcher ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 34px;
	display: block;
	text-transform: uppercase;
	outline: none;
}

/*
	###################
	END HEADER
	###################
*/

/*
	###################
	ABOUT PAGE
	###################
*/

/*
	###################
	END ABOUT PAGE
	###################
*/

/*
	###################
	AUTH PAGE
	###################
*/

/*
	###################
	END AUTH PAGE
	###################
*/

/*
	###################
	TIMER
	###################
*/
.timer {
	height: calc(100vh - 78px);
	width: 100%;
	position: relative;
	left: -100%;
	transition: 0.5s all;
}
.timer.active {
	left: 0;
}
.timer h3 {
	color: #2c3e50;
	text-align: center;
	margin: 10px 0;
	padding: 0 10px;
	font-weight: normal;
}
.timer h1 {
	font-size: 4em;
	text-align: center;
	color: #2c3e50;
	margin-top: calc(50vh - 130px);
	font-weight: normal;
}
/*
	###################
	END TIMER
	###################
*/

/*
	###################
	SESSION DETAILS
	###################
*/
.session-details {
	height: calc(100vh - 78px);
	position: fixed;
	top: 78px;
	right: -100%;
	width: 100%;
	overflow-y: scroll;
	transition: 0.5s all;
}
.session-details.active {
	right: 0;
}
.session-details ul.session-main-info {
	list-style: none;
	padding: 10px;
}
.session-details ul.session-main-info li {
	margin: 0 0 5px;
	font-size: 14px;
}
.session-details ul.times {
	list-style: none;
}
.session-details ul.times li {
	padding: 10px;
}
.session-details ul.times li a {
	text-decoration: none;
	color: #2c3e50;
	display: block;
}
/*
	###################
	END SESSION DETAILS
	###################
*/

/*
	###################
	EDIT TIME FORM
	###################
*/
#edit-time {
	width: calc(100% - 20px);
	height: calc(100vh - 20px);
	margin: 10px;
	background: #fff;
	border-radius: 3px;
	padding: 20px;
}
#edit-time h3 {
	color: #2c3e50;
}
#edit-time label,
#edit-time p {
	font-size: 12px;
	margin: 10px 0;
	display: block;
	color: #2c3e52;
}
#edit-time input {
	height: 34px;
	text-indent: 10px;
	width: 100%;
	border: none;
}
#edit-time input:focus {
	border-bottom: 3px solid #2c3e50;
}
#edit-time select {
	margin: 0;
}
#edit-time ul {
	list-style: none;
	margin-top: 10px;
}
#edit-time ul li:first-child {
	float: left;
	margin-left: 0;
}
#edit-time ul li:last-child {
	margin-right: 0;
}
#edit-time ul li {
	float: right;
	margin: 0 10px;
	background: #2c3e50;
	padding: 10px;
	border-radius: 3px;
}
#edit-time ul li.del {
	background: #e74c3c;
}
#edit-time ul li a {
	color: #fff;
	text-decoration: none;
}
/*
	###################
	END EDIT TIME FORM
	###################
*/