/*
	Color scheme:
		#0000a1
		#1f6ed4
		#39bae8
		#b9edf8
		#fff
*/
* {
	font-family: 'Open Sans', sans-serif;
}
body {
	background: #b9edf8;
}
h1, h2, a, p, span {
	font-weight: 300;
}
h3, h4, h5, h6 {
	font-weight: 600;
}
.header {
	background: #0000a1 url(http://unsplash.it/1920/1080?image=4);
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 50vh;
}
.header h1 {
	text-align: center;
	color: #fff;
	margin: 0;
	line-height: 50vh;
	font-size: 40px;
}
.content {
	margin-top: 30px;
}
.content .row .col-md-6 {
	margin-bottom: 30px;
}
.content h1 {
	letter-spacing: 3px;
}
.content p {
	font-size: 16px;
	line-height: 2em;
}
.content img {
	width: 100%;
	margin: 0 auto;
}
.footer {
	padding: 0 30px 30px;
	text-align: center;
}