body {
	font-family: 'PT Sans', sans-serif;
	background: #e8e8e8;
}
@media screen and (min-width: 960px) {
	body {
		font-size: 16px;
	}
}
@media screen and (max-width: 720px) {
	body {
		font-size: 14px;
	}
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;	
}
.block {
	padding: 20px;
	background: #fff;
}
.shadow {
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.1);
	box-shadow: 3px 3px 10px rgba(0,0,0,.1);
}
.header {
	background: #446cb3;
	height: 50px;
}
.header ul {
	padding-left: 10px;
}
.header ul li {
	float: left;
	height: 50px;
	padding: 0 10px;
	transition: 0.3s all;
}
.header ul li.active {
	border-bottom: 3px solid #fff;
}
.header ul li.active a {
	color: #fff;
}
.header ul li:hover {
	border-bottom: 3px solid #fff;
}
.header ul li:hover a {
	text-decoration: none;
	color: #fff;
}
.header ul li a {
	line-height: 50px;
	color: #ccc;
	display: block;
	transition: 0.3s all;
}
.main {
	margin-top: 30px;
}
.content h1 {
	margin-top: 0;
	font-weight: 700;
	color: #7f8c8d;
}
.content h1 a {
	color: #7f8c8d;
}
.content h1 a:hover {
	text-decoration: none;
	color: #446cb3;
}
.content p {
	line-height: 2em;
	color: #0e0b26;
}
.content a.button {
	background: #446cb3;
	padding: 10px;
	border-radius: 3px;
	color: #fff;
	display: block;
	max-width: 200px;
	text-align: center;
}
.content a.button:hover {
	text-decoration: none;
	background: #e73c3c;
}
footer h4 {
	text-align: center;
}